footer.footer    
    ul.footer__nav
        li: a(href='https://training.zuri.team/') Zuri 
        li: a(href='https://hng.tech/') HNG
        li: a(href='https://ingressive.org/') Ingressive for Good
    p.footer__copyright &copy; Falence Lemungoh.