header.header
    nav.nav.nav--tours
        img.nav__user-img(src='/img/me.jpg' alt='falence')
        a.nav__el(href='/') Falence Lemungoh
    .header__logo
        a.nav__el(href='/')
            h3 My Personal Portfolio
            //- img(src='/img/hng.png' alt='hng logo')
    nav.nav.nav--user
        .nav__el organizations:
        a.nav__el(href='https://training.zuri.team/')
            img.nav__user-img(src='/img/zuri.png' alt='zuri logo')
            span ZURI
        a.nav__el(href='https://hng.tech/')
            img.nav__user-img(src='/img/hng.png' alt='hng logo')
            span HNG
        a.nav__el(href='https://ingressive.org/')
            img.nav__user-img(src='/img/i4g.png' alt='ingressive for good logo')
            span I4G
        //- a.nav__el(href='/login') Log in
        //- a.nav__el.nav__el--cta(href='/signup') Sign up