extends base

block content 
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/work.jpg`, alt=`cover`)

        .heading-box
            .heading-box__group
                .heading-box__detail
                    span.heading-box__text= `Hello. I am....`
            h1.heading-primary
                span= `Falence Lemungoh`
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-box')
                    span.heading-box__text= `Backend Engineer`
    

                